@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*background colour*/
.container{
    background:linear-gradient(90deg, #b7b78a 50%, #3c6255 50%);
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
/*on top white colour*/

.wrapper{
    background-color: #f7f2f2;
    width:85%;
    height: 85vh;
}
/* logo*/
.navbar .logo{
    width: 70px;
    height: 70px;
    background-color:transparent;
    border: 3px solid green;
    border-radius: 50%;
    border-right-color: transparent;
    position: relative;
}
/*sodo elements to design logo*/
.navbar .logo::before{
    content: "Url Detection";
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-10%,-50%);
    font-family: "Arizonia", cursive;

}
.navbar{
    width: 90%;
    margin: auto;
    height: 15vh;
}
/* to aline in straight line*/
.navbar , .navlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlist li{
    list-style: none;
    padding: 20px;
}
.navlist a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}
/* sodo elements for designing navbar*/
.navlist a::before{
    content:"";
    position: absolute;
    bottom: -10px;
    left: 0;
    width:0;
    height: 2px;
    background-color: black;
    transition: .5s ease-in-out;
}
.navlist a:hover::before{
    width: 100%;
}
.hero{
    display: flex;
    align-items: center;
    padding: 50px;
}
/* to change image size*/
.hero img{
    width: 60vw;
}
.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    border-left: 4px solid #3c6255;
    padding: 80px 50px;
}
.content h3{
    color: rgb(73,73,73);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.content h1{
    color: #3c6255;
    font-size: 50px;
}
.content p{
    color: black;
    font-size: 18px;
    line-height: 30px;
}
/* to make togal*/
.hamburger span{
    width: 20px;
    height: 3px;
    background-color: black;
    display: block;
    margin: 4px;

}
/*footer*/
.footer{
    margin-top: 15px;
}
.foot-pannel1{
    background:linear-gradient(90deg, #b7b78a 50%, #3c6255 50%);
    color: white;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-pannel2{
    background-color: #202b2b;
    color: rgb(251, 246, 246);
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    
    
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #f5f0f0;
}
.foot-pannel3{
    background-color:#202b2b ;
    color: white;
    border-top: 0.5px solid transparent;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-pannel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.9rem;
    text-align: center;
    
}
.pages{
    padding-top: 25px;

}
.copy-write{
    text-align: center;

}


@media screen and (max-width: 796px) {
    .wrapper{
        position: relative;
    }
    .navlist{
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 0;
        background-color:#b7b78a;
        width: 300px;
        height: 100%;
        justify-content: center;
    }
    .hamburger{
        display: block;
        z-index: 5;
    }
    
}