body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
    background-image: url('bg2.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Ensures the background covers the entire viewport */
    background-position: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    background-color: #c7dbff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
}

.hidden {
    display: none;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}